@import '../../styles/cart.module.scss';
.home {
	height: 100dvh;
	width: 100dvw;
	display: flex;
	position: relative;
	justify-content: center;
	overflow: hidden;
	
}

@media (max-width: 768px) {
	.cart {
		width: 100%;
		padding: 10px;
	}
}
