.home {
	height: 100dvh;
	width: 100dvw;
	display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
    
    .openNav{
        display: none;
        position: absolute;
        left: 12px;
        top: 12px;
        border: none;
        background-color: transparent;
    }
    .icon{
        width: 23px;
        height: 23px;
    }
	.cart {
		display: flex;
        align-self: center;
        align-items: center;
		flex-direction: column;
		height: 70%;
		aspect-ratio: 1/2;
		background-color: var(--gray-200);
		border-radius: 40px;
        border: 2px solid var(--gray-950);
        gap: 32px;
		.logo {
			margin-top: -5%;
			max-width: 80%;
		}
        .clientData{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h4{
                font-size: 1.5rem;
                margin: 0  !important;
                padding: 0!important;
                &.green{
                    color: var(--success-700);
                }
            }
        }
		hr {
            border: 1px solid var(--gray-950);
			margin-top: -15%;
			width: 100%;
		}
        img{
            border-radius: 6px;
            border: 6px solid  var(--success-500);
        }
	}
 
}

@media screen and (max-width: 775px) {
    .openNav{
      display: flex !important;
  
    }
}